body {
  font-family: "Baloo 2", sans-serif;
  margin: 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='16' viewBox='0 0 32 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23303030; %7D .cls-2 %7B fill: %23404040; %7D .cls-3 %7B fill: none; stroke: %23404040; stroke-linecap: round; stroke-miterlimit: 10; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3EBackground%3C/title%3E%3Cg id='Background' data-name='Background'%3E%3Crect class='cls-1' width='32' height='16'/%3E%3C/g%3E%3Cg id='Texture' data-name='Texture'%3E%3Cpath class='cls-2' d='M12.5,10.5a2,2,0,1,1-2,2,2,2,0,0,1,2-2m0-1a3,3,0,1,0,3,3,3,3,0,0,0-3-3Z'/%3E%3Cpath class='cls-2' d='M28.5,10.5a2,2,0,1,1-2,2,2,2,0,0,1,2-2m0-1a3,3,0,1,0,3,3,3,3,0,0,0-3-3Z'/%3E%3Cline class='cls-3' x1='22.97' y1='6.97' x2='18.03' y2='2.03'/%3E%3Cline class='cls-3' x1='22.97' y1='2.03' x2='18.03' y2='6.97'/%3E%3Cline class='cls-3' x1='4.5' y1='8' x2='4.5' y2='1'/%3E%3Cline class='cls-3' x1='8' y1='4.5' x2='1' y2='4.5'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: repeat;
  background-attachment: fixed; }

/* Button Styling */
/* Ref: https://moderncss.dev/css-button-styling-guide/ */
* {
  box-sizing: border-box; }

.button, .cell {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.button {
  font-size: 16px;
  width: 140px;
  margin: 5px;
  background-color: #2f8ac7;
  color: #fff;
  border-radius: 8px;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 100ms all ease-in-out; }
  .button:hover {
    background-color: #54a2d7; }
  .button:active {
    background-color: #236895; }
  .button:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 3px #94c5e6; }
  .button:disabled {
    background-color: #bdc3c7;
    opacity: 0.7;
    cursor: none; }

.button-subcell {
  text-align: center; }

.cell {
  background-color: #7f8c8d;
  border: none;
  font-size: 40px;
  text-align: center;
  transition: 100ms all ease-in-out;
  border-radius: 15px;
  box-shadow: 0 9px #555; }
  .cell:hover {
    background-color: #99a3a4; }
  .cell:active {
    background-color: #5f696a;
    box-shadow: 0 5px #333;
    transform: translateY(4px); }
  .cell:disabled {
    background-color: #bdc3c7;
    color: rgba(16, 16, 16, 0.3);
    opacity: 0.7;
    cursor: none;
    box-shadow: 0 9px #999; }

button.active:disabled {
  background-color: #2ecc71;
  color: black; }

.player-input-field {
  font-size: 16px;
  padding: 4px;
  margin-bottom: 4px;
  border: 2px solid #bdc3c7;
  border-radius: 6px; }

h3 {
  margin: 0px; }

#n-spacer-container {
  max-width: 600px;
  margin: 0px auto 0px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

#n-spacer-top {
  max-height: 100px;
  flex-grow: 0.5; }

#n-spacer-bottom {
  flex-grow: 1; }

#n-container-main {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box; }

#n-container-header {
  flex: 0 1 600px;
  text-align: center;
  margin: 5px;
  background-color: #ECF0F1; }

#n-container-controls {
  flex: 1 0 200px;
  display: flex;
  flex-wrap: wrap; }

.n-container-players {
  flex: 1 1 200px;
  margin: 5px;
  background-color: #ECF0F1; }

.n-container-players-content {
  margin: 5px auto 5px auto;
  padding: 5px;
  width: 200px; }

.n-container-buttons {
  flex: 1 1 600px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: #ECF0F1; }

#n-container-game {
  flex: 1 0 300px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: #ECF0F1; }

#game-board {
  width: 300px;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0px;
  grid-column-gap: 3px;
  grid-row-gap: 12px;
  margin: 0px auto 0px auto;
  padding-top: 10px;
  padding-bottom: 10px; }

#game-alerts {
  width: 300px;
  padding: 5px;
  margin: 5px auto 5px auto;
  text-align: center; }

#container-canvas {
  position: relative;
  width: 300px;
  top: -340px;
  margin: 0px auto 0px auto; }

#canvas {
  display: none;
  position: absolute; }

.fade-out {
  opacity: 0.5; }
