.cell {
    background-color: whitesmoke;
    border: none;
    font-size: 40px;
}

header {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: orange;
}

#container-main {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

#container-controls {
    width: 250px;
    flex-grow: 1;
    background-color: lightgreen;
}

#game-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-controls-cell {
    /* width: 200px; */
    margin: 5px auto 5px auto;
    padding: 10px;
    min-width: 150px;

    background-color: pink;
    border: 1px solid red;

    flex-grow: 1;
}

.subcell {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
}

#container-board {
    width: 350px;
    background-color: lightyellow;
}

#game-board {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    grid-gap: 3px;
    background-color: black;
}

#game-alerts {
    height: 50px;
    background-color: lightgoldenrodyellow;
    margin-top: 20px;
}

#container-canvas {
    position: relative;
    top: -300px;
}

#canvas {
    display: none;
    position: absolute;
}

.player-input-field {
    font-size: 16px;
    padding: 4px;
    margin-bottom: 4px;
    /* border: 0; */
    /* border-bottom: 1px solid #eee; */
    background-color: lightseagreen;
}

h3 {
    margin: 0px;
}

button {
    width: 100px;
}

.button-subcell {
    text-align: center;
}