$primaryColour: rgb(47, 138, 199);
$secondaryColour: #2ecc71;
$tertiaryColour: #bdc3c7;
$mainBackgroundColour: #ECF0F1;

body {
    font-family: "Baloo 2", sans-serif;
    margin: 0px;
}

/* Button Styling */
/* Ref: https://moderncss.dev/css-button-styling-guide/ */

* {
    box-sizing: border-box;
}

.button, .cell {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

$btnColour: rgba(47, 138, 199, 1);
$disabledColour: rgb(189, 195, 199);

.button {
    font-size: 16px;
    width: 140px;
    margin: 5px;

    background-color: $btnColour;
    color: #fff;
    border-radius: 8px;
    // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;

    text-align: center;
    line-height: 1.1;

    transition: 100ms all ease-in-out;

    &:hover {
        background-color: scale-color($btnColour, $lightness: 20%);
    }

    &:active {
        background-color: scale-color($btnColour, $lightness: -25%, $saturation: -0%);
    }

    &:focus {
        outline-style: solid;
        outline-color: transparent;
        box-shadow: 0 0 0 3px scale-color($btnColour, $lightness: 50%);
    }

    &:disabled {
        background-color: $disabledColour;
        opacity: 0.7;
        cursor: none;
    }
}

.button-subcell {
    text-align: center;
}

$cellColour: scale-color(#7F8C8D, $lightness: 0%);
$cellDisabledColour: rgb(189, 195, 199);

.cell {
    background-color: $cellColour;
    border: none;
    font-size: 40px;
    text-align: center;

    transition: 100ms all ease-in-out;

    border-radius: 15px;

    box-shadow: 0 9px #555;
    
    &:hover {
        background-color: scale-color($cellColour, $lightness: 20%);
    }

    &:active {
        background-color: scale-color($cellColour, $lightness: -25%, $saturation: -0%);
        box-shadow: 0 5px #333;
        transform: translateY(4px);
    }

    &:focus {
        // outline-style: solid;
        // outline-color: transparent;
        // border: 3px solid scale-color($cellColour, $lightness: 50%);
        // box-shadow: 0 0 0 3px scale-color($cellColour, $lightness: 50%);
    }

    &:disabled {
        background-color: $cellDisabledColour;
        color: rgba(16, 16, 16, 0.3);
        opacity: 0.7;
        cursor: none;

        box-shadow: 0 9px #999
    }
}

button.inactive {
    // background-color: $cellDisabledColour;
    // color: rgba(16, 16, 16, 0.3);
    // cursor: none;
}

button.active:disabled {
    background-color: $secondaryColour;
    color: rgb(0,0,0);
}

.player-input-field {
    font-size: 16px;
    padding: 4px;
    margin-bottom: 4px;

    border: 2px solid $tertiaryColour;
    border-radius: 6px;
}

h3 {
    margin: 0px;
}

#n-spacer-container {
    max-width: 600px;
    margin: 0px auto 0px auto;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#n-spacer-top {
    max-height: 100px;
    flex-grow: 0.5;
}

#n-spacer-bottom {
    flex-grow: 1;
}

#n-container-main {
    max-width: 620px;
    
    display: flex;
    flex-wrap: wrap;

    background-color: #BDC3C7;

    box-sizing: content-box;
    border: 5px solid #BDC3C7;
    border-radius: 20px;
}

#n-container-header {
    flex: 0 1 600px;
    text-align: center;

    margin: 5px;

    background-color: $mainBackgroundColour;
    border-radius: 10px;
}

#n-container-controls {
    flex: 1 0 200px;

    display: flex;
    flex-wrap: wrap;
}

.n-container-players {
    flex: 1 1 200px;

    margin: 5px;

    background-color: $mainBackgroundColour;
    border-radius: 10px;
}

.n-container-players-content {
    margin: 5px auto 5px auto;
    padding: 5px;
    width: 200px;
}

.n-container-buttons {
    flex: 1 1 600px;
    text-align: center;
    padding: 5px;

    margin: 5px;
    
    background-color: $mainBackgroundColour;
    border-radius: 10px;
}

#n-container-game{
    flex: 1 0 300px;
    text-align: center;

    margin: 5px;
    padding: 0px;

    background-color: $mainBackgroundColour;
    border-radius: 10px;
}

#game-board {
    width: 300px;
    height: 350px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0px;
    
    grid-column-gap: 3px;
    grid-row-gap: 12px;
    // background-color: white;
    
    margin: 0px auto 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#game-alerts {
    width: 300px;
    padding: 5px;
    margin: 5px auto 5px auto;
    text-align: center;
}

#container-canvas {
    position: relative;
    width: 300px;
    top: -340px;
    margin: 0px auto 0px auto;
}

#canvas {
    display: none;
    position: absolute;
}